body{
    font-family: 'DotGothic16', sans-serif;

}
main{
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 20px 100px;
}
main div{
    width: 50%;
}
.image img{
    width: 100%;
}
.details{
    margin-left: 100px;
}
.details h1{
    font-size: 70px;
}
.details p{
    font-size: 25px;
}
button{
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 24px;
    font-family: 'DotGothic16', sans-serif;
    font-size: 18px;
}